.watercolourBorder{
    position: absolute;
    transform: scaleX(-1);
    top:355vw;
    left:0vw;
    width:100vw;
    overflow: hidden;
}
.watercolourBorder2{
    position: absolute;
    transform: rotate(90deg);
    top:-10vw;
    left:-22vw;
    width:100vw;
    overflow: hidden;
}

.blocker{
    position: absolute;
    top:49vw;
    left:0vw;
}

.body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin:0;
}

.header1{
    position: absolute;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    top:10vw;
    left:20vw;
    font-size:4.5vw;
}

.h2-sub{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-weight:200;
    top:17vw;
    left:20.5vw;
    font-size:1.5vw;
}



.imgLogo{
    position: absolute;

    top:10vw;
    left:12vw;

}

.imgTimber{
    position: absolute;
    left:6vw;
    top:28vw;
}

.titles{
    font-size:1.3vw;
  
    font-family: 'Poppins', sans-serif;
    position: absolute;
    
}

.title1{
    top:29vw;
    left:44vw;
    font-weight: 700;
}

.title2{
    font-weight: 700;
    top:32vw;
    left:44vw;
}

.title2Sub{
    
    top:32vw;
    left:48.5vw;
}

.title3{
    font-weight: 700;
    top:37vw;
    left:44vw;
}


.title3Sub{
   
    top:37vw;
    left:48.5vw;
}

.title4{
    font-weight: 700;
    top:40vw;
    left:44vw;
}

.title4Sub{
   
    top:40vw;
    left:48.5vw;
}

.title5{
    font-weight: 700;
    top:43vw;
    left:44vw;
}
.title5Sub{

    top:44.3vw;
    left:48.5vw;
    text-decoration: none;
    color:black;
}


.projHeaders{
    position: absolute;
    left:12vw;
}

.goals{
    top:57vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size:2.5vw;
}

.process{
    top:99vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size:2.5vw;
}
.environmentDesign{
    top:136vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size:2.5vw;
}

.challenges{
    top:343vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size:2.5vw;
}

.para1{
    position: absolute;
    font-size:1vw;
    white-space: pre-line;

    font-family: 'Poppins', sans-serif;
    top:61vw;
    left:12vw;
    width:50vw;

}

.para2{
    position: absolute;
    font-size:1vw;
    white-space: pre-line;
    font-family: 'Poppins', sans-serif;
    top:103vw;
    left:12vw;
    width:50vw;

}

.para3{
    position: absolute;
    font-size:1vw;
    font-family: 'Poppins', sans-serif;
    top:163vw;
    left:12vw;
    width:50vw;
}

.para4{
    position: absolute;
    font-size:1vw;
    font-family: 'Poppins', sans-serif;
    top:227vw;
    left:12vw;
    width:50vw;
}

.para5{
    position: absolute;
    font-size:1vw;
    white-space: pre-line;

    font-family: 'Poppins', sans-serif;
    top:244vw;
    left:54vw;
    width:50vw; 
   
}
.para6{
    position: absolute;
    font-size:1vw;
    white-space: pre-line;

    font-family: 'Poppins', sans-serif;
    top:347vw;
    left:12vw;
    width:50vw; 
   
}
.para7{
    position: absolute;
    font-size:1vw;
    white-space: pre-line;

    font-family: 'Poppins', sans-serif;
    top:400vw;
    left:12vw;
    width:50vw; 
    padding-bottom:5vw;
   
}


.img1{
    position: absolute;
    top:104vw;
    left:56vw;
}

.img2{
    position: absolute;
    top:144vw;
    left:12vw;
}

.img3{
    position: absolute;
    top:144vw;
    left:53vw;
}

.img4{
    position: absolute;
    top:172vw;
    left:12vw;
}
.img5{
    position: absolute;
    top:199vw;
    left:12vw;
}
.img6{
    position: absolute;
    top:242vw;
    left:12vw;
}

.img7{
    position: absolute;
    top:266vw;
    left:12vw;
}
.img8{
    position: absolute;
    top:266vw;
    left:54vw;
}
.img9{
    position: absolute;
    top:292.5vw;
    left:12vw;
}
.img10{
    position: absolute;
    top:292.5vw;
    left:54vw;
}
.img11{
    position: absolute;
    top:319vw;
    left:12vw;
}
.img12{
    position: absolute;
    top:319vw;
    left:54vw;
}
.img13{
    position: absolute;
    top:365vw;
    left:12vw;
}
.img14{
    position: absolute;
    top:365vw;
    left:29vw;
}

.figureCaption1{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:133svw;
    left:63vw;
}

.figureCaption2{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:159vw;
    left:22vw;
}


.figureCaption3{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:159vw;
    left:63vw;
   
    
}

.figureCaption4{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:195vw;
    left:36vw;
   
}

.figureCaption5{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:222vw;
    left:36vw;
    
}

.figureCaption6{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:261.5vw;
    left:12vw;
    width:40vw;
    text-align: center;
}
.figureCaption7{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:288vw;
    left:27vw;

   
}
.figureCaption8{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:288vw;
    left:68vw;
   
}
.figureCaption9{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:314.4vw;
    left:25vw;
   
}
.figureCaption10{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:314.4vw;
    left:66vw;
   
}
.figureCaption11{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:341vw;
    left:27vw;
   
}
.figureCaption12{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:341vw;
    left:68vw;
   
}
.figureCaption13{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:399vw;
    left:14vw;
    text-align: center;
    width:10vw;
   
}
.figureCaption14{
    font-family: 'Poppins', sans-serif;
    font-size:0.8vw;
    position:absolute;
    top:399vw;
    left:33vw;
   
}

/*navigation*/
.dot-nav, a{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Poppins', sans-serif;
    vertical-align: baseline;
    font-size:1vw;
}


.nav2{
    text-align: center;
    overflow: hidden;
    margin:12em auto;
    width:32vw;
    position: relative;
    top:-18vw;  
    left:33vw;
}

.nav2 a{
    display: block;
    position: relative;
    float: left;
    padding: 10em 0 4em;
    width:25%;
    text-decoration: none;
    color: black;
    transition: 0.7s;
}

.nav2 a:hover{
    color: tomato;

}

.effect{
    position: absolute;
    left:-12.5%;
    transition: 0.7s ease-in-out;
}

.nav2 a:nth-child(1):hover ~ .effect{
    left:12.5%;
}

.nav2 a:nth-child(2):hover ~ .effect{
    left:37.5%;
}

.nav2 a:nth-child(3):hover ~ .effect{
    left:62.5%;
}
.nav2 a:nth-child(4):hover ~ .effect{
    left:87.5%;
}

.dot-nav::after{
    content: "";
    display: block;
    position: absolute;
    width: 55%;
    height:0.05vw; /*if i wanna remove the line this is the spot*/
    background: tomato;
    bottom: 3.2vw;
}

.dot-nav a::after{
    content: "";
    display: block;
    position: absolute;
    width:0.35vw;
    height:0.35vw;
    bottom:3vw;
    left:50%;
    margin-left: -0.1vw;
    background: tomato;
    border-radius: 100%;
}

.dot-nav .effect{
    width: 0.6vw;
    height: 0.6vw;
    bottom:2.9vw;
    margin-left:-0.3vw;
    background: tomato;
    border-radius: 100%;
}

@media(min-width:10rem){
    .imgSpiral{
        transform: scale(70%);
        top:-16vw;
        left:-23vw;
    }
    .para1{
        width:45vw;
    }
    .para2{
        width:45vw;
    }
    .para3{
        width:45vw;
    }
    .para4{
        width:45vw;
    }
    .para5{
        width:45vw;
    }
    .para6{
        width:45vw;
    }
    .para7{
        width:45vw;
    }
  
}

@media(min-width:40rem){
    .imgSpiral{
        transform: scale(160%);
        top:10vw;
        left:3vw;
    }
    .para1{
        width:43vw;
    }
    .para2{
        width:43vw;
    }
    .para3{
        width:43vw;
    }
    .para4{
        width:43vw;
    }
    .para5{
        width:38vw;
    }
    .para6{
        width:43vw;
    }
    .para7{
        width:43vw;
    }
}